<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_Crm_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=Crm;Persist Security Info=true" />
    </connectionStrings>
</configuration>